<h1>Welcome to the Sound Follow Band Page</h1>

<p>Add a band to the database:</p>

<form action="/bands" method="post">
  <label for="name">band's name:</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add Band</button>
</form>


<% if @bands.any?() %>
  <p>Click on a venue to see information about it and add bands to it:</p>

  <ul>
    <% @bands.each do |band| %>
    <li><a href="/bands/<%= band.id() %>"><%= band.name() %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no bands added yet!</p>
<% end %>

<p><a href="/venues">See all venues</a></p>

<p><a href="/">Home</a></p>
<!-- <h1> Bands </h1>
<h3>Here are your bands</h3>
<% if @bands.any?() %>
<% @bands.each() do |band| %>
<ul>
  <li><%=band.name()%></a></li>
</ul>
  <%end%>
<%else%>
  <p>No Bands</p>
  <%end%>

  <form action='/band_save/' method='post'>
  <label for='band_name'> Add a band: </label>
  <input id='band_name' name='band_name' type='text'>
  <button type='submit' class='btn btn-success'> Add Band </button>
</form>

<a href='/'> Home </a> -->
