<h1>Sound Follow</h1>
<form action='/' method='post'>
  <label for='new_band'> <strong>Enter a band</strong> </label>
  <input id='new_band' name='new_band' type='text' </input>
  <button type='submit' class='btn btn-success'>Save Band</button>
</form><br>
</br>
<form action='/venue/save/' method='post'>
  <label for='new_venue'> <strong>Add Venue</strong> </label>
  <input id='new_venue' name='new_venue' type='text' </input>
  <button type='submit' class='btn btn-success'> Save Venue</button>
</form>
<h2>A place where you can store information about bands and venues.</h2>

<% if @bands.any?() %>
<% @bands.each() do |band| %>
  <ul>
      <li><a href='/band/<%=band.id()%>'> <%=band.title()%></a></li>
  </ul>
    <%end%>
<%else %>
  <strong><p> Add bands </p></strong>
<%end%>

<!-- <form action='/venue/save/' method='post'>
  <label for='new_venue'> Add Venue </label>
  <input id='new_venue' name='new_venue' type='text' </input>
  <button type='submit' class='btn btn-success'> Save Venue</button>
</form> -->
<!-- <a href='/venues/'>Add Venues</a> -->
