<!DOCTYPE html>
<html>
  <head>
    <title>Sound Follow</title>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href="/styles.css"
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
</body>
</html>
