<a href='/'> Home </a>
 <h1>Venues</h1>
<p>Add a venue</p>

<% if @venues.any?() %>
<% @venues.each() do |venue| %>
  <ul>
      <li><a href='/venue/<%=venue.id()%>'> <%=venue.title()%></a></li>
  </ul>
    <%end%>
<%else %>
  <p> no venues </p>
<%end%>


<form action='/venue/save/' method='post'>
  <label for='new_venue'> Enter Venue Name: </label>
  <input id='new_venue' name='new_venue' type='text' </input>
  <button type='submit' class='btn btn-success'> Save Venue</button>
</form>
